h1 {
    margin: 50px 0;
    font-family: Poppins;
    line-height: 48px;
    align-items: center;
    text-align: center;
    width: 100%;
    letter-spacing: -0.02em;
    color: #0E1D2D;
}

h3 {
    position: relative;
    left: 24px;
    font-family: Poppins;
    top: 8px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #0E1D2D;
}