a {
    position: relative;
    height: 19px;
    padding-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    color: #008AFF;
    margin: 0px 4px;
}

#tab {
    padding-bottom: 16px;
}

.activeTab {
    pointer-events: none;
}

.inactiveTab {
    opacity: 0.4;
}

.inactiveTab:hover {
    cursor: url("../../../images/link-cursor.svg"), auto;
}

hr {
    margin: 0;
}

.activeLine {
    border: 1px solid #008AFF;
    background-color: #008AFF;
}

.inactiveLine {
    border: 1px solid;
    background-color: #0E1D2D;
}

.content {
    position: relative;
    min-height: 72px;
    margin-top:0;
    padding: 0 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center; 
}

.activeLink {
    pointer-events: all;
}

.activeLink:hover {
    text-decoration: underline;
    cursor: url("../../../images/link-cursor.svg");
}

.inactiveLink {
    pointer-events: none;
    color: #0E1D2D;
    opacity: 0.4;
}

.chevronRight {
    position: relative;
    width: 16px;
    height: 17px;
    left: 10px;
    top: 1px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}